@font-face {
  font-family: 'NotoSansKR';
  src: url('./fonts/NotoSansKR-Regular.otf');
  src: url('./fonts/NotoSansKR-Regular.otf?#iefix') format('opentype');
  font-weight: light;
  font-style: light;
}
