.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background: var(--dark-color);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar_logo {
  font-size: 40px;
  font-weight: bold;
  color: rgb(5, 5, 5);
}

.navbar_cart {
  background: #fff;
  width: 200px;
  border: none;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar_cart:hover {
  opacity: 0.75;
}

.cart_title {
  font-size: 30px;
  font-weight: bold;
  color: var(--dark-color);
}

.cart_image {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.cart_counter {
  height: 40px;
  width: 100px;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--dark-color);
  background: var(--light-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}